# Custom list
cloudflare.com
fastly.com
uzh.ch


# https://www.semrush.com/trending-websites/global/all/ [09.09.2025]
google.com
youtube.com
facebook.com
instagram.com
chatgpt.com
wikipedia.org
reddit.com
x.com
yahoo.com
whatsapp.com
amazon.com
bing.com
yahoo.co.jp
duckduckgo.com
tiktok.com
temu.com
yandex.ru
weather.com
linkedin.com
msn.com
microsoftonline.com
netflix.com
live.com
microsoft.com
twitch.tv
pinterest.com
openai.com
naver.com
twitter.com
canva.com
office.com
vk.com
discord.com
aliexpress.com
github.com
spotify.com
roblox.com
imdb.com
paypal.com
apple.com
globo.com
amazon.co.jp
nytimes.com
dailymotion.com
ebay.com
booking.com
samsung.com
walmart.com
mail.ru
amazon.de
quora.com
amazonaws.com
telegram.org
bbc.co.uk
bbc.com
indeed.com
rakuten.co.jp
cnn.com
espn.com
usps.com
adobe.com
zoom.us
ozon.ru
amazon.co.uk
uol.com.br
accuweather.com
etsy.com
rutube.ru
deepseek.com
dzen.ru
primevideo.com
google.com.br
marca.com
shein.com
amazon.in
ecosia.org
zillow.com
shopify.com
infobae.com
theguardian.com
snapchat.com
ya.ru
archive.org
google.co.uk
disneyplus.com
people.com
dailymail.co.uk
ikea.com
amazon.it
note.com
yandex.com
mercadolivre.com.br
scribd.com
foxnews.com
ameblo.jp
